@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.main {
  &__btn {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 9px 35px;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: #000;
      background-color: violet;
    }
  }
}

.header {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    margin-bottom: 110px;

  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 155px;
  }

  &__content-col1 {
    flex: 60%;
    color: #fff;
  }

  &__content-subtitle {
    display: flex;
    margin-bottom: 19px;

    p {
      margin-right: 40px;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.15em;

    }
  }

  &__content-title {
    font-weight: 600;
    font-size: 66px;
    line-height: 70px;
    letter-spacing: 0.03em;
    margin-bottom: 17px;
  }

  &__content-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.06em;
    max-width: 545px;
    margin-bottom: 31px;
  }

  &__content-buttons {
    margin-bottom: 63px;
  }

  &__content-btn1 {
    background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
    border: transparent;
    padding: 13px 30px;
    margin-right: 8px;
  }

  &__content-btn2 {
    padding: 12px 30px;
  }

  &__content-socialtext {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13em;
  }

  &__content-social {
    display: flex;
    align-items: center;
  }

  &__social-spotyfi {
    margin-right: 21px;
  }

  &__social-apple {
    margin-right: 26px;
  }


}

.menu {
  display: flex;
  align-items: center;
}

.nav {

  &__link {
    margin-right: 50px;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

  }
}


// ++++++++++++++++++++EPISODES START++++++++++++++++++
.episodes {
  &__top {
    margin: 100px 0 50px;
    display: flex;
    justify-content: space-between;
  }

  &__top-title {
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.05em;
  }

  &__top-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #9224D6;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 33px;
  }

  &__item {
    max-width: 375px;
    margin-bottom: 65px;
  }

  &__item-image {
    position: relative;

  }

  &__item-img {
    background-repeat: 10px;
    margin-bottom: 25px;
  }

  &__item-rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 13px 29px;
    background-color: rgba(28, 27, 30, 1);
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
  }

  &__item-subtitle {
    display: flex;
    column-gap: 25px;
    margin-bottom: 15px;

    p {
      font-size: 16px;
      line-height: 24px;

      letter-spacing: 0.05em;
      color: #000000;
    }

  }

  &__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: .6;
    margin-bottom: 19px;
  }

  &__item-play {
    display: flex;
    justify-content: space-between;
  }

  &__itemplaylink {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #9224D6;
    padding-left: 33px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
      background-image: url(../images/episodes/play.png);
      width: 21px;
      height: 21px;
      bottom: 0px;
    }
  }

  &__itemplaytime {
    font-size: 16px;
    line-height: 24px;
    opacity: .6;
    letter-spacing: 0.02em;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: -29px;
      background-image: url(../images/episodes/time.svg);
      width: 22px;
      height: 22px;
    }
  }
}